.container {
    position: relative;
    left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 100%;
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 3% 3%;
    background: lightgray;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}